* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text1 {
  height: 30%;
  width: 40%;
  border: 2px solid black;
  margin-left: 25%;
  margin-top: 7%;
  padding: 3%;
  border-radius: 15px;
  font-size: 2.5em;
}
.div2 {
  margin-left: 25%;
  margin-top: 3%;

  font-size: 2em;
}
.button1 {
  color: white;
  padding: 25px 240px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 25%;
  margin-top: 8%;
  border: 2px solid black;
  border-radius: 10px;
}
.output1 {
  margin-left: 40%;
  margin-top: 3%;
  font-size: 2em;
}
